.container {
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e6ea;
  width: 100%;
  height: fit-content;
  padding: 20px;
  margin-top: 4rem !important;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-family: Nunito;
}

.description {
  font-family: Nunito;
}